body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
div, p, a, ul, h1,h2,h3,h4,h5{
    margin: 0px;
    padding: 0px;
}

/* Header Designing */
header{
    width: auto;
    display: flex;
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    /* border: solid 1px black ; */
}


/* Logo Designing */
#logo{
    width: 20%;
    padding-left: 50px;
    /* border: solid 1px orange ; */
}
#logo img{
    padding-top: 10px;
    width: 40%;
    /* border: solid 1px red ; */
}
#sub_header{
    display: block;
    width: 80%;
    /* border: solid 1px black ; */
}

/* Menu Designing */
#menu{    
    float: right;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 20px;
    /* border: solid 1px green ; */
    
}
.menu-line{
    display: flex;
    width: 80%;
    float: right;
    padding-right: 20px;
    /* border: solid 1px purple; */
}

.circle{
    width: 15px;
    height: 15px;
    margin-right:5px;
    border: solid 1px #08757A;
    background: radial-gradient( #08757a,#08757A);
    border-radius: 100px;
}

hr{
    width: 98%;
    background:linear-gradient(to left, #08757A, white);
    height: 2px;
    border: none;
}


a{
    color: black;
}

#menu ul{
    display: flex;
    float: right;
    padding-top: 10px;
    /* border: solid 1px black; */
    background-color: white;
}
#menu ul ol{
    padding: 10px 20px 10px 40px;
    font-weight: 500;
    /* border: solid 1px red; */
}
#menu ul ol a {
    color:black;
    text-decoration: none;
}

a:hover{
    color: #08757A;
    cursor: pointer;
}

/* Common Classes */
.container{
    display: flex;
    width: auto;
    padding: 20px 20px 20px 40px;
    justify-content: space-evenly;
    /* border: #08757A solid 1px; */
    font-family: 'Raleway', sans-serif;
}

/* Home Page Designing */
#main_text {
    padding-top: 80px;
    width: 55%;
    padding-left: 80px;
    /* border: #08757A solid 1px; */
}

#main_image {
    width: 45%;
    /* border: #08757A solid 1px; */
}

#main_image img{
    width: 90%;
    /* border: black solid 1px; */
    margin-left: 50px;

}
#main_text span{
    font-size: 45px;
    font-weight: 800;
}

#main_desp{
    font-weight: 400;
    padding:20px 0px 20px 0px;
}

button{
    margin: 20px 10px 40px 0px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 30px 12px 30px;
    border-radius: 50px;
    border: none;
    background-color: #08757A;
    color: white;
}


#particles-js{
 width: 100%;
 height: 100vh;
 position: absolute;
 top: 150px; 
 /* border: solid black 1px;  */
 left: 0;
}

/* steps styling */

.steps{
    display:flex;
    /* border: black solid 1px; */
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    height: 1000px;
   
}

.line{
    width: 5%;
    /* border: black solid 1px; */
}

.content{
    width: 95%;
    /* border: red solid 2px; */
 
}

.content img{
    opacity: 0.4;
}
.circlee{
    border: solid 6px #08757A;
    background-color: rgba(8, 117, 122,0.2);
    height: 30px;
    width: 30px;
    margin: 4px;
    margin-top: 30px;
    opacity: 0.8;
    border-radius: 50%;
}

.rectangle{
    height: 180px;
    border-radius: 5px;
    width: 3px;
    margin-left: 40%;
    margin-top: 10px;
    background-color: #08757A;
    opacity: 0.6;
}


.contentDiv{
    overflow: hidden;
    position: relative;
}

.demo-bg{
    opacity: 0.08;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: auto;
}

.demo-content{
    position: relative;
}

.card{
    display: flex;
    /* border: solid black 4px;  */
    padding-top: 20px;
    
}

.numbering{
    width: 30%;
}

.list_number{
    color: #08757A;
    font-size: 200px;
    padding-left: 50px;
    padding-right: 50px;
    opacity: 0.3;
    /* background-color: antiquewhite; */
    font-family: 'rubik', sans-serif;
    position: relative;
}

.head_content{
    /* border: solid greenyellow 2px; */
    padding: 36px;
}

.content_head{
    font-size: 40px;
    font-weight: 500;
    position: relative;
    left: -15%;
    color: #191919;
    letter-spacing: 2px;

}

.content_para{
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    width: 90%;
    color: #191919;
    line-height: 1.6;
}

<<<<<<< HEAD




/* Contact Page Designing */
#contact_heading{
    font-size: 14px;
    padding-left: 40px;
    font-weight: 600;
    color: #08757A;;
}
.main-container{
width: auto;
padding: 60px;
}
.sub_container{
    width: 50%;
    /* border: solid 1px black; */
    padding: 0;
}
.sub_container span{
    font-size: 36px;
    font-weight: 600;
    padding-top: 80px;
    /* border: solid 1px black; */
}
.sub_container #main_contact_heading{
    padding-top: 40px;
    /* border: solid 1px red; */
}
.sub_container .address_heading{
    font-size: 12px;
    font-weight: 600;
    color: black;
}
address{
    font-weight: 400;
    color: #08757A;;
    text-decoration: none;
    font-style: normal;
    padding-top: 20px;
}
.contact_icons{
    display: flex;
    padding-left:40px ;
}
.contact_icons i{
    padding: 10px;
    font-style: 50px;
}
.sub_container form{
    font-family: 'Raleway',sans-serif;
}

.sub_container form .form-row{
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
    border:none;
}

form .form-row .textarea{
    height: 70px;
}
  
.input-data input,
.textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    font-weight: 600;
    color: #08757A;
}
  
.textarea textarea{
    resize: none;
    padding-top: 10px;
}
  
.input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
.textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
}
  
.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
  
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #08757A;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  
}
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
    border :none !important;
}
  .submit-btn .input-data{
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 45px!important;
    width: 25%!important;
    border-radius: 50px;
    background-color: #08757A;
  }
  .submit-btn:hover .input-data:hover .inner{
    left: 0;
    background-color: #191919;
}

.submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
=======
/* about Us */
.about_head{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size:medium;
}

.about_head p {
    margin: 10px;
    width: 800px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.icon_card_container{
    margin-top: 40px;
}

.about_iconSection{
    display: flex;
    /* border: red solid 2px; */
    width: 70%;
    justify-content: space-around;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.about_iconSection img {
    width: 50%;
    position: relative;
    top: 25%;
}

.icon_card{
    width: 45%;
    height: 180px;
    background-color: #08757a;
    /* border:solid 1px yellow ; */
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.icon_card_container{
    /* border:solid 1px yellow ; */
    text-align: center;
    width: 30%;
}

.icon_card_container h2{  
    /* border: yellowgreen solid 2px; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.icon_card_container p{
  padding: 10px;
  /* border: yellowgreen solid 1px; */
  line-height: 1.5;
}

/* sub section */

.about_SecondSection{
    margin-top: 70px;
}
.SS_Sub_Section{
    display: flex;
    width: 1200px;
    /* border: violet solid 1px; */
    margin-right: auto;
    margin-left: auto;
    
}

.SS_Image {
    width: 50%;
    /* border: red solid 1px; */
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.SS_Article{
    width: 50%;
    /* border: #191919 solid 1px; */
    padding: 10px;
    box-sizing: border-box;
    padding-top: 10%;
    padding-left: 5%;
}

.SS_Article h2{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 40px;
}

.SS_Article p{
    width: 60%;
    padding: 20px 20px 20px 0;
    line-height: 1.6;
}
.SS_Image img {
    width: 60%;

    height: 350px;
}

#firstArticle{
    border-left: #cccccc solid 1px;
    border-bottom: #cccccc solid 1px;
    border-radius: 10px;
}

#secondImage{
    border-right:#cccccc solid 1px;
    border-bottom:#cccccc solid 1px;
    border-radius: 10px;
}

#thirdArticle{
    border-left: #cccccc solid 1px;
    border-radius: 10px;
>>>>>>> 5fb212a16b5635ffa5c1a52ba2d66f919c5c0f07
}